* {
  box-sizing: border-box;
  clear: both;
}
:root{
  --mainColor:#E0CA3C;
  --black:#000F08;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #1f1f1f;
}
h1,h2,h3,h4,h5,h6,ul,p{
  margin: 0;
}
.webDateTime{
  display: flex;
}
.webDateTime>p{
  margin: 5px;
}
/* ----------------------divSlider---------------------- */
.divSlider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  display: flex;
  left: 0vw;
  transition: left 1s ;
}

.box {
  background: url(./img/divsBackground/1.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-position: center;
  
}

/* ----------------------arrowsofDivs---------------------- */
.divsArrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2vw;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 70px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  cursor: pointer;
z-index: 1;
}
.fa-chevron-left{
  align-self: flex-start;
  margin: 10px 20px;
}
.fa-chevron-right{
  align-self: flex-end;
  margin: 8px;
}

 /* ----------------------NavFooter---------------------- */

footer {
  position: absolute;
  bottom: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divSliderNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(150, 150, 150);
  font-size: 30px;
  font-weight: 900;
  z-index: 1;
}
/* .divSliderNav::before{
  content: "<!--";
  font-size: 1.5vw;
  font-weight: 700;
}
.divSliderNav::after{
  content: "-->";
} */
.navGetToMyDiv {
  margin: 10px;
  cursor: pointer;
}

.navHeadLine {
  display: block;
  margin: 0;
  padding: 0;
  transition: color 1.2s ease;
}

.navGetToMyDiv:nth-child(1) p::before { 
  font-family: "FontAwesome";
  content: '\f015';
  margin: 10px;
}
.navGetToMyDiv:nth-child(2) p::before { 
  font-family: "FontAwesome";
  content: '\f77d';
  margin: 10px;
}
.navGetToMyDiv:nth-child(3) p::before { 
  font-family: "FontAwesome";
  content: '\f51c';
  margin: 10px;
}
.navGetToMyDiv:nth-child(4) p::before { 
  font-family: "FontAwesome";
  content: '\f0fb';
  margin: 10px;
}
.navGetToMyDiv:nth-child(5) p::before { 
  font-family: "FontAwesome";
  content: '\f0b1';
  margin: 10px;
}
.navGetToMyDiv:nth-child(6) p::before { 
  font-family: "FontAwesome";
  content: '\f5fc';
  margin: 10px;
}
/* ----------------------cssNavigtionApear---------------------- */
/* .divSliderNav,.fa-chevron-left,
.fa-chevron-right{
  z-index: 1;
opacity: 0;
 transition: opacity 3s;
} */
/* ----------------------Animations---------------------- */

@keyframes scale-up-center {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(1.5)
  }
}
/* ----------------------MainDiv---------------------- */

/* ----------------------1992---------------------- */
.text1992 h1{
  font-size: 80px;
}
.text1992 h2{
  font-size: 40px;
}
.text1992 span{
  text-shadow: -1px 1px 2px  #1f1f1f,
				  1px 1px 2px  #1f1f1f,
				  1px -1px 0  #1f1f1f,
				  -1px -1px 0  #1f1f1f;
}
/* ----------------------2007---------------------- */
.text2007{
  font-size: 30px;
} 
.text2007 ul{
  margin-top: 10px;
}
/* ----------------------2012---------------------- */
#div2012{
  font-size: 30px;
  overflow: hidden;
}
#div2012>img{
  height: 10%;
  width: auto;
  margin: 10px;
}
#div2012>i{
  font-size: 6vw;
  animation: jetFly 4s linear infinite;
}
@keyframes jetFly{
  0%{
transform: translateX(-50vw);
  }
  100%{
    transform: translateX(50vw);
  }
}
/* ----------------------2015---------------------- */
.work2015{
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.jobs>img{
  height: 40%;
  width: auto;
}
/* ----------------------2020---------------------- */
.techCodeIn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.techCodeIn>img{
  height: auto;
  width: 35vw;
}
.skillList{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillList>img{
  height: auto;
  width: 8vw;
  margin: 10px;
}